
.welcome{
  display: block;
  width: 100%;
  height: 100%;
  background-color:var(--color-light);
  font-family: "Poppins",sans-serif;
}
.welcome .navbar {
  /* border:1px solid red; */
  height: 4rem;
  background-color: var(--color-white);
  /* width: 80%; */
}
.welcome .navbar .header{
  height: 4rem;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  /*margin-left: 10%;*/
  box-shadow: 0 0 20px var(--color-primary);	
}
.welcome .navbar .header .container{
  /*border: 1px solid rgb(9, 255, 0);*/
  height: 99%;
  width: 80%;
}
.welcome .navbar .header .menu{
  /* display:none; */
  visibility: hidden;
}
/* .welcome .navbar nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 60px;
  border: 1px solid green;
}
.welcome nav .logo h1{
  font-size: 30px;
} */
.welcome .navbar .search-bar i{
  color: var(--color-primary);
  /* background-color: var(--color-primary); */
}
.welcome .navbar .input-section{
  /* border: 1px solid dodgerblue; */
  display: flex;
  width: 30%
}
.welcome .navbar .profile-section{
  color: dodgerblue;
}
.welcome .navbar .search-bar{
  background: var(--color-light);
}
.welcome .navbar .search-bar input{
  color:black;
}
.welcome .navbar select{
  background:var(--color-light);
  border:none;
  box-shadow: none;
}
/* .welcome nav .profile{
  margin-right: 7%;
  border: 1px solid dodgerblue;
  height: 100%;
  width: 150px;
  display: flex;
  align-items: center;
  gap:10px;
} */
.welcome .content{
  /* border: 1px solid rgb(0, 0, 0); */
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.welcome .content .menu {
  background-color: var(--color-primary);
  overflow: hidden; 
  box-shadow: 0 0 10px 0 rgba(33, 33, 33, 0.2); 
  min-height: 100vh;
  width: 65px;
  padding: 20px 14px;
  z-index: 10;
  transition: all .5s ease;
  position: fixed;
}

.welcome .content .menu:hover{
  width:250px;
}
.welcome .content .menu li{
  color: white;
  display: flex;
  align-items: center;
  cursor: pointer;
  /* background-color: var(--color-primary); */
  height: 100%;
  width: 100%;
  margin: 8px 0;
  list-style: none;
  text-decoration: none;
  position: relative;
  transition: all .5s ease;
  z-index: 12;
}
.welcome .content .menu li:hover{
  color: rgb(0, 0, 0);
}
.welcome .content .menu li::after{
  content: "";
  position: absolute;
  transform: scaleX(0);
  background-color: var(--color-light);
  width: 100%;
  height: 100%;
  border-radius: 5px;
  transition: transform .3s ease-in-out;
  transform-origin: left;
  z-index: -2;
}

.welcome .content .menu li:hover::after{
  transform: scaleX(1);
  background-color: var(--color-light);
}
.welcome .content .menu span{
  color: white;
  font-size: 16px;
  letter-spacing:1px;
  /* font-weight:  400; */
  white-space: nowrap;
  pointer-events: auto;
  transition: all .5s ease;
  margin-left: 20px;
}

.welcome .content .menu li:hover span,
.welcome .content .menu li:hover i{
  transition: all 0.3s ease;
  color:black;
}

.welcome .content .menu li i{
  height: 50px;
  line-height: 50px;
  font-size: 20px;
  border-radius: 5px;
  margin-left: 15px;
}
.welcome .content .menu .logout{
  margin-top: 100%;
}


.welcome .content .main {
  /* border: 1px solid rebeccapurple;   */
  min-height: 85vh;
  background-color: var(--color-light);
  margin-left: 6%;
  width: 94%;
  /* border:1px solid blue; */
}
